* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-left: 30px;

  &_product {
    display: flex;
    justify-content: center;
  }
}
